

/* LINKS */
.contacto-links {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 10px;
}

.contacto-link {
    color: var(--azulOscuro);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.contacto-link:hover {
    transform: translateY(-3px);
}

/* ICONOS */
.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    filter: var(--azulOscuroFilter);
}

@media (max-width: 992px) {
    .contacto-link {
        justify-content: center;
    }
}