/* DM SANS */
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/dm-sans/DMSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/dm-sans/DMSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/dm-sans/DMSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/* CABIN */
@font-face {
    font-family: 'Cabin';
    src: url('../fonts/cabin/Cabin-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/cabin/Cabin-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


:root {
    --azulOscuro: #233a57;
    --azulClaro: #d9e8ff;
    --font-normal: 'DM Sans', sans-serif;
    --font-titulo: 'Cabin', sans-serif;
}

.section {
    padding: 80px 20px;
}

body {
    font-family: var(--font-normal);
}

h2, h3 {
    font-family: var(--font-titulo);
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}