#experiencia-academica {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

#experiencia-academica h2 {
    text-align: center;
    margin-bottom: 25px;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-header {
    width: 100%;
    background: var(--azulOscuro);
    border: none;
    padding: 18px;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: white;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 18px;
}

.accordion-content p {
    margin: 10px 0;
}

.icon {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

/* Abierto */
.accordion-item.active .accordion-content {
    max-height: 300px;
    padding-bottom: 15px;
}

.accordion-item.active .icon {
    transform: rotate(45deg); /* + -> x */
}
