/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.header {
    position: sticky;
    top: 0;
    height: 70px;
    background: var(--azulOscuro);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.header .logo {
    font-size: 27px;
    font-family: var(--font-titulo);
    font-weight: bold;
}

/* NAV DESKTOP */
.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: var(--font-titulo);
    font-weight: 600;
}

/* HAMBURGUESA */
.menu-toggle {
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
    cursor: pointer;
    z-index: 1100;
}

.menu-toggle span {
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    left: 0;
    transition: all 0.3s ease;
}

.menu-toggle span:nth-child(1) {
    top: 0;
}

.menu-toggle span:nth-child(2) {
    top: 9px;
}

.menu-toggle span:nth-child(3) {
    top: 18px;
}

/* ICONO A CRUZ CUANDO MENÚ ACTIVO */
.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 9px;
}

/* BLOQUEO SCROLL */
.no-scroll {
    overflow: hidden;
}

/* ========== MOBILE FULLSCREEN MENU ========== */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100vw;
        height: 100vh;
        background: #111;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        transition: right 0.4s ease;
        z-index: 1050;
    }

    .nav a {
        font-size: 1.5rem;
    }

    .nav.active {
        right: 0;
    }
}

/* SECCIONES */


.section:target {
    animation: focusSection 0.6s ease;
}

@keyframes focusSection {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
